boto3~=1.26.2
botocore~=1.29.2
pandas~=1.3.5
tqdm~=4.64.1
humanfriendly~=10.0
psutil~=5.9.1
sdgym~=0.5.0
sdmetrics~=0.4.1
numpy~=1.21.6
tabulate~=0.8.10
appdirs~=1.4.4
sdv~=0.14.1
rdt~=0.6.4
pomegranate~=0.14.8
sklearn~=0.0
scikit-learn~=1.0.2
torch~=1.11.0
setuptools~=65.3.0
dython~=0.7.1.post4
scipy~=1.7.3
matplotlib~=3.5.3
packaging~=21.3
ctgan~=0.5.1
seaborn~=0.12.1
